.sidebar {
  flex: 1;
  border-right: solid 1px rgb(198, 197, 197);
  min-height: 100vh;
  background-color: rgb(34 41 41);

  .top {
    height: 50px;
    border-bottom: solid 1px rgb(198, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: rgb(37, 150, 190);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .center {
    li {
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: rgb(131, 208, 208);
      }

      .icon {
        font-size: 18px;
        color: rgb(37, 150, 190);
      }

      span {
        font-size: 14px;
        font-weight: 700;
        margin-left: 10px;
        color: white;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: solid 1px rgb(37, 150, 190);
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: white;
      }
      &:nth-child(2) {
        background-color: black;
      }
    }
  }
}
