USE [studysupport]
GO
/****** Object:  Table [dbo].[testDate]    Script Date: 02/06/2023 18:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testDate](
	[DOB] [date] NULL
) ON [PRIMARY]
GO
