.customerPageContainer {
  .title {
    margin: 20px;
    color: rgb(37, 150, 190);
  }
  .listContainer {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;

    .listHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .listTitle {
        font-weight: 500;
        color: #9c27b0;
      }

      .createInvoiceBtn {
        background-color: rgb(179 51 51);

        &:hover {
          background-color: rgb(180, 23, 23);
        }
      }
    }

    .search {
      display: flex;
      margin-bottom: 20px;
    }
  }

  table,
  th,
  td {
    // border: 1px solid;
    border-color: grey;
    padding: 0px 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      tr {
        border-bottom: 3px solid;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid;

        cursor: pointer;
        &:hover {
          background-color: #afafaf6e;
        }

        td {
          font-weight: 600;
        }
        .customerName {
          // font-size: 14px;
          font-weight: bold;
          color: #404040;
        }
        .studentNames {
          font-size: 80%;
          color: #0075c5;
        }
        .overdueInvoice {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    tr {
      height: 60px;
      text-align: left;
    }
  }
}
