.invoicePageContainer {
  .title {
    margin: 20px;
    color: rgb(51, 179, 179);
  }
  .listContainer {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;

    .listHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .listTitle {
        font-weight: 500;
        color: #9c27b0;
      }

      .createBtn {
        background-color: rgb(51, 179, 179);

        &:hover {
          background-color: rgba(51, 179, 179, 0.842);
        }
      }
    }

    .search {
      display: flex;
      margin-bottom: 20px;
    }
  }
}
