.session-time {
  text-align: center;
  font-size: 20px;
  color: #9c27b0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.formEnd {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  .submitBtn,
  .editBtn,
  .cancelBtn {
    margin-top: 40px;
  }
}

.tables-container {
  //   border: solid;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;

  .table {
    width: 250px;
    // border: solid;
    // padding: 10px;

    .table-name {
      text-align: center;
      color: #ed6c02;
    }

    .table-items {
      border: solid 2px #0c3389;
      padding: 10px;
      position: relative;

      .add-icon,
      .cancel-add-icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      .remove-icon {
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        background-color: white;
        padding: 0;
      }
    }

    .student-session-form,
    .compensation-session-form {
      display: flex;
      margin: 10px 0 20px;
      position: relative;

      .form-input {
        flex: 5;
        margin-right: 10px;
        margin-left: 5px;
      }

      .form-tick-icon {
        font-size: 25px;
        padding: 0;
      }
      .half-session-icon {
        position: absolute;
        transform: translateX(-75%);
        background-color: white;
      }
    }

    .student {
      padding: 5px 0;
      display: flex;

      .student-name {
        flex: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5px;

        .compensation-tag,
        .half-session-tag {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
          background-color: #16629f;
          color: white;
        }

        .half-session-tag {
          color: #16629f;
          background-color: white;
        }
      }

      .student-attendance {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid 1px blue;
        padding-left: 5px;

        .absent-icon {
          color: #d53737;
          font-size: 25px;
        }
        .present-icon {
          color: #56c387;
          font-size: 25px;
        }
      }
    }
  }
}
