.studentForm {
  h3 {
    margin-bottom: 20px;
    color: rgb(51, 179, 179);
  }
  h3:not(:nth-of-type(1)) {
    margin-top: 20px;
  }
  .formEnd {
    display: flex;
    justify-content: flex-end;

    .submitBtn {
      background-color: rgb(51, 179, 179);
      margin-top: 40px;

      &:hover {
        background-color: rgba(51, 179, 179, 0.842);
      }
    }
  }
}
