.App {
  display: flex;
  box-sizing: border-box;
}

.mainContainer {
  flex: 6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.status {
  padding: 10px;
  border-radius: 5px;
}
.fail {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.average {
  color: darkorange;
  background-color: rgba(255, 140, 0, 0.2);
}

.good {
  color: yellowgreen;
  background-color: rgba(153, 205, 50, 0.2);
}

.excellent {
  color: darkgreen;
  background-color: rgba(0, 100, 0, 0.2);
}
