.appWrapper {
  display: flex;
  box-sizing: border-box;
}

.mainContainer {
  flex: 6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

.status {
  padding: 10px;
  border-radius: 5px;
}
.fail {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.average {
  color: darkorange;
  background-color: rgba(255, 140, 0, 0.2);
}

.good {
  color: yellowgreen;
  background-color: rgba(153, 205, 50, 0.2);
}

.excellent {
  color: darkgreen;
  background-color: rgba(0, 100, 0, 0.2);
}

.title {
  margin: 20px;
  color: rgb(37, 150, 190);
}
.listContainer {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
.listContainer .listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.listContainer .listHeader .listTitle {
  font-weight: 500;
  color: #9c27b0;
}
.listContainer .listHeader .createBtn {
  background-color: rgb(37, 150, 190);
}
.listContainer .listHeader .createBtn:hover {
  background-color: rgba(37, 150, 190, 0.842);
}
.listContainer .search {
  display: flex;
  margin-bottom: 20px;
}

.formContainer {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}

.backgroundGrey {
  background-color: #00000021;
}
.formEnd {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.formEnd .submitBtn {
  background-color: rgb(37, 150, 190);
  margin-top: 40px;
}
.formEnd .submitBtn:hover {
  background-color: rgba(37, 150, 190, 0.842);
}
.formEnd .editBtn,
.formEnd .cancelBtn, .formEnd .deleteBtn {
  margin-top: 40px;
}
.form h3 {
  margin-bottom: 20px;
  color: rgb(37, 150, 190);
}
.form h3:not(:nth-of-type(1)) {
  margin-top: 20px;
}

.summary {
  display: block;
  margin-top: 20px;
}
.summary .summaryItem {
  display: flex;
  justify-content: flex-end;
}
.summary .summaryItem .summaryText,
.summary .summaryItem .summaryValue {
  padding: 10px 20px;
  font-weight: 800;
  font-size: 20px;
}
.summary .summaryItem .summaryValue {
  width: 120px;
  margin-left: 30px;
  text-align: right;
}

h4 {
  color: #00000099;
}

.contactInfo {
  border: solid 1px #00000042;
  padding: 16.5px 14px;
  border-radius: 4px;
  min-width: 200px;
}

.hoverable:hover {
  cursor: pointer;
}

.error {
  color: red !important;
}

.modalContainer {
  position: fixed; /* or absolute, based on the use case */
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; /* Ensure full coverage */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.712);
}

.modal {
  background-color: white;
  border: solid 1px red;
  border-radius: 12px;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.modalTop {
  display: flex;
  justify-content: flex-end;
}

.modalWarning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warningIcon {
  font-size: 60px;
  color: #ff6a00;
}

.modalWarning h1 {
  color: #333333;
  margin-top: 20px;
}

.modalWarning p {
  color: #6b6c72;
  width: 90%;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 500;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.dropDown {
  max-height: 300px;
  overflow-y: scroll;
}